html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: 'Work Sans', sans-serif;
}
/*navbar*/

.navbarMedia {
    display: none;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.affix ~ .container-fluid {
    position: relative;
}


.navbar {
    margin-bottom: 0px;
    border-radius: 0px;

}

.navbar-default{
    color: black;
    transition:500ms ease;
    background:transparent;
    border: 0px;
}
.navbar-default.scrolled{
    background: #232323;
}

#navbarLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    opacity: 0.7;
}

#navbarLogo:hover{
    opacity: 1;
}

.cookies{
    background-color: #f1f1f1;
    position: fixed;
    margin-left: 89%;
    bottom: 0px;
    width: 10%;
    z-index: 99999;
}


/*overall*/
h1{;
    font-size: 40px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }
}
h2{
    font-size: 20px;
}
h3{

}
h4{
    font-size: 10px;
}

#section1 {
    padding-top:50px;
    min-height:100vh;
    color: black;
    background-color: #e2e2e2;
}
#section2 {
    padding-top:50px;
    min-height:100vh;
    color: black;
    background-color: white;
}
#section3 {
    padding-top:50px;
    color: black;
    background-color: #e2e2e2;
}

.center{
    text-align: center;
}

.container{
    position: absolute;
    text-align: center;
    width: 98%;
    bottom: 30px;
}

.nextSectionMock{
    height: 90px;
    width:100%;
}

.moveToNextSection{
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    opacity: 1;
    width: 80%;
}

#popUpArrowContainer{
    display: none;
}

.moveToNextSection:hover{
    opacity: .5;
}


.nobull{
    list-style-type: none;
}

.noindent{
    padding-left: 0;
}

.column3 {
    float: left;
    width: 33%;
    padding: 10px;
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
}

.column4 {
    float: left;
    width: 25%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .column2, .column3 {
        width: 100%;
    }
}

/*Titlepage*/
#header{
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
}

#swapContainer{
    text-align: center;
}

#quoteContainer{
    max-width: 600px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
    margin-top: 35vh;
    height: 150px;
    width: 70%;
    opacity: 0;
}


#quote {
    opacity: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 0;
}

#cite {
    color: grey;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#name{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    bottom: 0;
}

#logo{
    display: inline-block;
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    height: 150px;
}

@media screen and (max-width: 800px) {
    #quoteContainer {
        margin-top: 30vh;
    }
    #logo {
        margin-top: 30vh;
    }
    #name h3 {
        font-size: 16px;
    }
    #quote h3{
        font-size: 15px;
    }
    #cite h2 {
        font-size: 12px;
    }
}

/*Leistungen*/

#contentLeistungen{
    padding-left: 5%;
    padding-right: 5%;
}

#content2{
    margin-top: 20px;
}

.oneThird{
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
}

.twoThird{
    position: relative;
    float: right;
    width:66%;
    height: 100%;
}

.content{
    position: relative;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}


@media screen and (max-width: 800px) {
    #contentLeistungen{
        display: inline-block;
    }
    #section1{
    }
    .oneThird {
        width: 100%;
        text-align: center;
    }
    .twoThird {
        margin-top: 50px;
        width: 100%;
    }
    #portrait {
        display: inline-block;
        float: none;
        width: 50%;
    }

    .content{
        display: inline-block;
        width: 100%;
        top: auto;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    #section1 {
        height: auto;
    }
}

/*Vita*/
@media screen and (max-width: 800px) {
    #section2 {
        height: auto;
    }
}
#portrait{
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
}

#columnPortrait{
    text-align: center;
}

/*Kontakt*/
.toggleText{
    color: black;
}

.card {
    text-align: left;
    padding-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#margin{
    height: 30px;
}

.contactColumn{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.smaller{
    font-size: 11px;
}

#moveToSecitonPopup{
    left: 40%;
}

.containerPopup{
    position: absolute;
    text-align: center;
    width: 98%;
    top: 300px;
}

.none{
    border: 0px transparent !important;
}

/*scrollDownEffect*/
.center-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.round span {
    z-index: 999;
    height: 2px;
    margin:.5px;
    width: 15px;
    background: black;
    transition: 0.4s ease;
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 21%;
    bottom: 30%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 43%;
    bottom: 30%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 21%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 43%;
    bottom: 54%;
}